<header style="background-color: rgb(20, 125, 194)">
    <nav class="navbar navbar-expand-sm bg-light navbar-light" >
        <div><a href="/userUI" class="navbar-brand" style="color:rgb(10, 114, 249)  ; font-size: x-large; font-weight: bolder;">
            <b>Grand Hotel</b>
        </a></div>
        <ul class="navbar-nav" >
            <li><a  class="nav-link" routerLink="/userUI/shop"  >Menu</a></li>
            <li><a  class="nav-link" routerLink="/userUI/booking"  >Bookings</a></li> &nbsp;
            
           
        </ul>
        <ul class="navbar-nav ">
            <b><a routerLink="/login" >Log Out</a></b>
          
          </ul>
    </nav>
</header> 


<div class="div1">

    <div class="div2">
    <b><h2>Welcome to Grand Hotel</h2></b>
    </div>
    <div class="div3">
        <!--<img src="/assets/images/logo_blank2.png" class="logo2" alt="">-->
        <br><button class="button" routerLink="/userUI/shop" style="vertical-align:middle"><span>Explore Gallery</span></button>
    </div>
    <div class="div4">
       
        
    </div>

</div>


